*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cards{
    padding-top: 120px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 50px;
    margin-left: 10px;
}
.infoCard{
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
    text-align: center;
}
.infoCard h5{
    text-transform: uppercase;
    padding-top: 10px;
    margin-bottom: 7px;
}
.infoCard p {
    text-transform: capitalize;
}
.img_card{
    width: 200px;
    border: 1px solid;
    border-radius: 50%;
    height: 200px;
    object-fit: contain;
}


