:root{
    --bgc: #FFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--bgc) ;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
button{
    border: none;
    cursor: pointer;
}
a {
    text-decoration: none;
}

li {
    list-style: none;
}